doctype html
html
head
    title Book Cards
    link(rel='stylesheet', href='style.css')
body
    h1 My Book Collection
    #book-cards
    each book in books
        .book-card
        img(src=book.image)
        h2 #{book.title}
        p #{book.author}
        p #{book.year}
        p #{book.pages} pages
        a(href=book.link) More info

    script(src='../staticc/js.libri.js', defer)
    